<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="e426a61c-c7f4-454b-95cb-b9ebc5ee9a8f" Version="1.0.0.8" Publisher="CN=v-pasrit" />
  <Properties>
    <DisplayName>TV_Thailand.Windows</DisplayName>
    <PublisherDisplayName>v-pasrit</PublisherDisplayName>
    <Logo>images\tiles\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="TV Thailand" Description="TV Thailand" ForegroundText="dark" BackgroundColor="#ffffff" Square150x150Logo="images\tiles\Square150x150Logo.png" Square30x30Logo="images\tiles\Square30x30Logo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\tiles\Splash.png" />
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://*.youtube.com" Type="include" />
        <Rule Match="https://*.dailymotion.com" Type="include" />
      </ApplicationContentUriRules>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="default.html">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.HLSClient.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.HLSClient.HLSPlaylistHandler" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>